body {
    font-family: 'Lucida Sans', 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
}

footer {
    height: 40px; /*设定footer高度*/
    position: fixed; /*设定footer绝对位置在底部*/
    bottom: 0;
    width: 100%; /*展开footer宽度*/
    background-color: white;
    line-height: 20px;
    margin-top: -40px;
}

.sans {
    font-family: 'Lucida Sans', 'Source Sans Pro', sans-serif;
}

.wikitable {
    background-color: #f8f9fa;
    color: #202122;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}